<div>
	<div ng-include src="'views/commonTemplate.html'"></div>
	<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
		<h4>{{currentPage}}</h4>
		<div class="table-responsive">
			<table class="table table-striped" ng-if="allPendingFoodTrucks.length>0">
				<thead>
					<tr>
						<th>#</th>
						<th>Truck Name</th>
						<th>Accept/Reject</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="truck in allPendingFoodTrucks track by $index">
						<td>{{$index+1}}</td>
						<td>{{truck.foodTruckName}}</td>
						<td><button class="btn btn-primary" ng-model="acceptBtn"
						  	ng-click="acceptFoodTruck(truck)">Accept</button>
						  	<button class="btn btn-default" ng-model="rejectBtn"
						  	ng-click="rejectFoodTruck(truck)">Reject</button></td>
					</tr>
				</tbody>
			</table>
			<p ng-if="!(allPendingFoodTrucks.length>0)">No Trucks for approval!</p>
		</div>
	</main>
</div>