<div id="mainContainer">
	<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
	  <a class="navbar-brand" href="#">Food Truck Mania</a>
	</nav>
	<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" ng-class="setAsActive('/home')" ng-href="{{rootUrl}}home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-class="setAsActive('/trucklocate')" ng-href="{{rootUrl}}trucklocate">Locate food trucks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-class="setAsActive('/foodmenus')" ng-href="{{rootUrl}}foodmenus">Food truck menus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-class="setAsActive('/rateFoodTruck')" ng-href="{{rootUrl}}rateFoodTruck">Rate Food truck</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-class="setAsActive('/manageAlerts')" ng-href="{{rootUrl}}manageAlerts">Manage Alerts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-class="setAsActive('/reserveLocation')" ng-href="{{rootUrl}}reserveLocation">Reserve Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-class="setAsActive('/uploadMenu')" ng-href="{{rootUrl}}uploadMenu">Upload Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-class="setAsActive('/feedbacks')" ng-href="{{rootUrl}}feedbacks">View Feedbacks</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</div>