<div>
	<div ng-include src="'views/commonTemplate.html'"></div>
	<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
		<h4>{{currentPage}}</h4>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Truck Name</th>
						<th>Menu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="truck in allFoodTrucks track by $index">
						<td>{{$index+1}}</td>
						<td>{{truck.foodTruckName}}</td>
						<td><button class="btn btn-primary" ng-model="viewMenuBtn"
						  	ng-click="loadFoodMenu(truck)">View Menu</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</div>