<div class="container">
	<div class="row">
	    <div class="col-4 mx-auto">
            <div class="card">
            	<h4 class="card-header card-header-color">Login</h4>
            	<div class="card-block">
            		<form>
					  <div class="form-group">
					    <label for="username">Email address</label>
					    <input type="email" ng-model="username" class="form-control" 
					    	id="username" aria-describedby="emailError" placeholder="Enter email">
					    <!-- <small id="emailError" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
					  </div>
					  <div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" ng-model="password" id="password" placeholder="Password">
					  </div>
					  <div class="form-group">
					  	<button type="button" class="btn btn-primary" ng-model="loginBtn" ng-click="loadHomePage()">Login</button>
					  	<small class="text-muted">Not a member?
					  	<a class="text-right" ng-href="{{rootUrl}}register">Sign Up</a></small>
					  </div>
					 </form>  
				</div>
           	</div>
        </div>
	</div>
</div>