<div>
	<div ng-include src="'views/commonTemplate.html'"></div>
	<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
		<h4>{{currentPage}}</h4>
		<div class="alert alert-{{notification.type}}" 
		style="visibility: hidden;" role="alert" 
		data-notification="{{notification.status}}">{{notification.message}}</div>
		<div class="row">
			<div class="form-group col-1">
				<label for="menuFile">Upload Menu</label>
			</div>
			<div class="form-group col-3">
				<input type="file" file="menuFile" ng-model="menuFile" required/>
			</div>
			<div class="form-group col-2">
				<button type="button" class="btn btn-primary" ng-model="uploadMenuBtn" style="float:right;"
					ng-click="uploadMenu()">Upload Menu</button>
			</div>
		</div>
	</main>
</div>