<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FoodTruckMania</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
  <servlet>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<servlet-class>facade.FoodTruckControllerFacade</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MenuController</servlet-name>
  	<servlet-class>control.MenuController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MenuController</servlet-name>
  	<url-pattern>/uploadMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/getAllFoodTrucks</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/getFavFoodTrucks</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/getFoodTrucks</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/getAllLocations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/updateUserAlerts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/getAlerts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/signUpUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/approveFoodTrucks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/reserveLocation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/rateTruck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/fetchPendingApprovals</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/setUserFavorites</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/getFeedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/viewMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodTruckControllerFacade</servlet-name>
  	<url-pattern>/sendMail</url-pattern>
  </servlet-mapping>
</web-app>